.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.welcome-text {
    font-size: 10rem;
    margin-bottom: 2rem;
}

.button-container {
    display: flex;
    gap: 1rem;
}

.login-button, .logout-button {
    position: absolute; /* Positioning it absolutely */
    top: 30px; 
    right: 20px;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    color: white;
    background: #4caf50;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.login-button, .logout-button:hover {
    background: #45a049;
}

.welcome-button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.welcome-button:hover {
    background: #45a049;
}